// Colores base
$color-principal: #e26f03;
$color-secundario: #ffa500;
$color-fondo: #fef9f5;
$color-texto: #333;
$color-blanco: #fff;
$color-titulo: #b0413e;

// Tipografías
$fuente-general: "Poppins", sans-serif;
$fuente-secundaria: "Arial", sans-serif;

// Sombras
$sombra-card: 0 4px 10px rgba(0, 0, 0, 0.1);
$sombra-menu: 0 4px 12px rgba(0, 0, 0, 0.08);
$sombra-item: 0 3px 8px rgba(0, 0, 0, 0.06);
